body {
    background-color: black;
  }


  /* morico styles */

  .marico-section_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .marico-section_text h1 {
    color: rgb(255, 255, 255);
  }

  .marico-section_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 5%;

  }

  .marico-section_info h4  {
    color: rgb(255, 255, 255);
  }
  .marico-section_info p {
    color: rgb(130, 130, 130);
    
  }

  .marico-section_info img {
    width: 30px;
    height: 60px;
  }

  .marico-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 15%;
  }

  .marico-text h6 {
    color: rgb(0, 25, 251);
  }

  .marico-text h1 {
    color: rgb(255, 255, 255);
  }

  .marico-text p {
    color: rgb(150, 150, 150);
  }

  .marico-text button {
    border-color: rgb(145, 145, 145);
  }
  .text {
    display: flex;
    padding: 100px;
    gap: 50px;
}

.text-1 {
    color: #3C82F4;
}

.img h1 {
    padding-top: 30px;
}
.img p {
    padding-top: 20px   ;
}

.btn {
    margin: 20px;
}

  
  /* Aliyorbek */

  .from{
    display: flex;
    padding-left: 1100px;
    margin-top: -55px;
  }
  .from button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #3C82F4;
    border: none;
    cursor: pointer;
  }
  .from input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
  }

  .header{
    background-color: black;
    text-align: center;
    height: 700px;
  }

  .header-title1{
    color: white;
    font-size: 72px;
    margin-top: 100px;
  }
  
  .btn{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #3C82F4;
    border: none;
    cursor: pointer;
  }

  .btn-dark{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #24262b;
    border: none;
    cursor: pointer;
  }















.asilbek{
    text-align: center;
}
.asilbek h1{
    font-size: 37px;
}
.p{
    color: aqua;
}

.asilbek-div{
    display: flex;
    margin: 150px;
}

.asil img{
    width: 500px;
}
.asilb h1{
    font-size: 40px;
}
.btn{
    width: 120px;
    height: 40px;
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
}
.bt{
    width: 120px;
    height: 40px;
    background-color: rgb(49, 49, 49);
    color: rgb(159, 160, 160);
    border-radius: 10px;
}
